<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitiankeji.mapper.ManagerRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yitiankeji.entity.ManagerRole">
        <id column="manager_role_id" property="managerRoleId" />
        <result column="manager_id" property="managerId" />
        <result column="role_id" property="roleId" />
    </resultMap>

</mapper>
